<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header " th:text="${titulo}"></div>
            <div class="card-body">
                <img th:if="${#strings.length(cliente.get().foto)>0}" class="img-thumbnail rounded float-left" style="max-width: 25%" th:src="@{'/uploads/' + ${cliente.get().foto}}" th:alt="${cliente.get().foto}"/>
                <ul class="list-group">
                   <li class="list-group-item" th:text="${cliente.get().nombre}"></li>
                   <li class="list-group-item" th:text="${cliente.get().apellido}"></li>
                   <li class="list-group-item" th:text="${cliente.get().email}"></li>
                   <li class="list-group-item" th:text="${cliente.get().createAt}"></li>
                </ul>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>