<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header " th:text="${titulo}"></div>
            <div class="card-body">
                <form th:action="@{/cliente}" th:object="${cliente}" th:method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{nombre}"  class="form-control"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Apellido</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{apellido}"  class="form-control"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{email}" class="form-control"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">File</label>
                        <div class="col-sm-6">
                            <input type="file" name="file" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                                <a class="btn btn-danger btn-xs"  th:href="@{/clientes}">Cancelar</a>
                                <input type="submit" value="Aceptar" class="btn btn-primary"/>
                        </div>
                    </div>

                    <input type="hidden" th:field="*{id}">
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>